# API key for authenticating requests to the Petstore API
PETSTORE_API_KEY=

# Base URL and path of the Petstore API
PETSTORE_BASE_URI=https://petstore.swagger.io/
PETSTORE_BASE_PATH=v2/
PETSTORE_BASE_PUBLIC_URI=https://petstore.swagger.io/
PETSTORE_BASE_PUBLIC_PATH=v2/